* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background: linear-gradient(to bottom, lightblue, darkolivegreen);
    height: 100vh;
}

.main h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

.formulier {
    display: flex;
    flex-direction: column;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.3), 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: linear-gradient(to bottom left, #d5d5d5 65%, #3d3d3d);
    padding: 2rem 5rem;
}

/*Na de verzend button*/

.confirmation {
    font-size: 2.2rem; 
    margin: 0 2rem;
    text-align: center;
}


.formulier h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.formulier div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.formulier label {
    font-size: 1.2rem;
    min-width: 100%;
    margin-bottom: 0.2rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.formulier input, .formulier textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    min-width: 100%;
    border-radius: 5px; 
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.formulier input:focus, .formulier textarea:focus {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.9);
}


.formulier textarea {
    resize: none;
    text-align: left;
    min-width: 100%;
}

.counter {
    margin-left: auto;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
}

.name-counter {
    margin-left: auto;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
}

/*Counter voor de naam*/
.counter-limit-name {
    visibility: hidden;
} 

.counter-limit-name::after {
    visibility: visible;
    content: "Limiet bereikt 25 / 25";
    font-weight: bold;
    font-family: sans-serif;
}


/*
Als gebruiker meer dan 40 letters typt
*/
.counter-warning {
    color: red;
}

/*
limiet van 50 bereikt
*/
.counter-limit {
    visibility: hidden;
}

.counter-limit::after {
    visibility: visible;
    content: "Limiet bereikt 50 / 50";
    font-weight: bold;
    font-family: sans-serif;
}

.formulier .btn {
    padding: 0.6rem;
    width: 90%;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
    border: 3px solid lightblue;
    border-radius: 5px;
    background-color: whitesmoke;
}